.login-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #212529;
  text-align: center;
  font-weight: 700;
}
